aiohttp
pytest
pytest-asyncio 
requests
unittest2
flask
flask-login
flask-session
flask-sqlalchemy
flask-wtf
google-cloud-vision
mediapipe
openai
opencv-python
psutil
psycopg2-binary
pytest-cov
sqlalchemy
werkzeug
google-cloud-texttospeech
opencv-python-headless
pillow
cachelib